.grid {
  height: 500px;
  width: 500px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ff0000;
  margin: auto;
}

.nerd{
  border: 1px solid #fff;
  color: #ffffff;
}

.imgs{
  max-height: 50px;
}